.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}

.container{
    margin-bottom: 100px;
}

.carousel-item{
    padding:20px 40px;
}

.price{
    color:#FF2178;
}

.buy-button{
    background-image: linear-gradient(to bottom, #fd3a88 0%, #d30457 100% );
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.cat1,.cat2,.cat3{
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 8px;
}

.cat1{
    
    background-image: linear-gradient(45deg , #F0952F, #F3C81B);
    
}

.cat2{
    
    background-image: linear-gradient(45deg , #EA206C,#ff3c8a );
   
}

.cat3{
    background-color: blue;
    background-image: linear-gradient(45deg , #3B11FA,#3a6fff );
}

.cetagories img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

#contact{
    height: 300px;
}

footer{
    text-align: center;
}